nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
   list-style-type: none;
   padding: 30px;
}

.navLink {
    text-decoration: none;
}

.navLink:hover{
    color: rgb(94, 86, 82);
}

.button-theme {
    padding: 5px;
    border-radius: 6px;
}